@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

:root {
  --color-white: #f0f0f0;
  --color-red: #be3144;
  --color-blue: #45567d;
  --color-gray: #303841;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.2em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.7em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.8rem;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: var(--color-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-item {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.7em) {
  .nav {
    justify-content: center;
  }

  .nav-item {
    margin: 0 1rem;
  }
}

.nav-item a {
  display: block;
  padding: 2rem;
  font-size: 2.2rem;
}

.nav-item a:hover {
  background: var(--color-blue);
}

/* welcome section */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--color-red);
}

/* project section */

.projects-sections {
  background: var(--color-blue);
  text-align: center;
  padding: 10rem 2rem;
}

.projects-sections-header {
  margin: 0 auto 5rem auto;
  border-bottom: 0.2rem solid var(--color-white);
  max-width: 640px;
}

@media (max-width: 28.7em) {
  .projects-sections-header {
    font-size: 4rem;
  }
}

.projects-grit {
  display: grid;
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  margin-bottom: 6rem;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (max-width: 30.62em) {
  .projects-sections {
    padding: 6rem 1rem;
  }

  .projects-grit {
    grid-template-columns: 1fr;
  }
}

.project {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background: var(--color-gray);
}

.symbol {
  transition: color 0.3s ease-out;
  color: var(--color-gray);
}

.project:hover .symbol {
  color: #ff7f50;
}

.project-image {
  width: 100%;
  object-fit: cover;
  height: calc(100% - 6.8rem);
}

.project-title {
  padding: 2rem 0.5rem;
  font-size: 2rem;
}

.btn {
  display: inline-block;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 1rem 2rem;
}

.btn-show {
  background: var(--color-gray);
  font-size: 2rem;
  transition: background 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -ms-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
}

.btn-show:hover {
  background: var(--color-red);
}

.btn-show:hover > i {
  transform: translateX(2px);
  -webkit-transform: translateX(2px);
  -moz-transform: translateX(2px);
  -ms-transform: translateX(2px);
  -o-transform: translateX(2px);
}

.btn-show > i {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  margin-left: 9px;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}

/* contact section */

.contact-sections {
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: var(--color-gray);
  padding: 0 2rem;
}

.contact-sections-header > h2 {
  font-size: 6rem;
}

.contact-sections-header > p {
  font-style: italic;
}

@media (max-width: 28.7em) {
  .contact-sections-header > h2 {
    font-size: 4rem;
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 980px;
  width: 100%;
  margin-top: 4rem;
}

.contact-detail {
  transition: transform 0.3s ease-out;
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.contact-detail:hover {
  transform: translateY(8px);
}
